.subsection {
    display: flex;
    align-items: center;
    padding: 40px;
    margin: 20px 0;
}

.text {
    flex: 1;
    padding: 20px;
}

.text h4 {
    font-size: 20px;
    color: #333;
}

.text p {
    font-size: 16px;
    color: #666;
}

.image {
    flex: 1;
    padding: 20px;
}

.image img {
    max-width: 100%;
    border-radius: 10px;
}